#heading{
  color: blanchedalmond;
  background-color: blueviolet;
}
.header{
  color:aqua;
  background-color: bisque;
}
button{
  color: aliceblue;
  background-color:black;
}
body{
  color: black;
  background-color: aquamarine;
}